@import url('https://fonts.googleapis.com/css?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;

}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;

}

h4{
    font-size: 20px;
    color: #222;

}

h6 {
    font-weight: 700;
    font-size: 12px;

}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0 ;
}

.section-p1{
    padding: 40px 80px;
}
.section-m1 {
    margin: 40px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
body {
    width: 100%;
    background-color: #eff0f6;
}


/* Header Start */
#header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
} 
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
list-style: none;
padding: 0 20px;
position: relative ;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
    color: #088178; 
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Home Page */
#hero{
    background-image:url("img/collage.jpg") ;
    height: 113vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
}
 
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow:row;
    
   
    
}
#feature .fe-box{
    width:282.3px ;
    text-align: center;
   
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.03);
    border: 2.1px solid #a0b4c4;
    border-radius: 4px;
    margin: 10px 0;
    transition: 1s;


}   

#feature .fe-box:hover{
    transform: scale(1.3);
    z-index: 2;
    box-shadow: 14px 14px 14px rgba(71, 16, 1, 0.1);
} 

#feature .fe-box img{
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #041413;
    background-color: #d93c5e;
}
#body {
    position: relative;
    margin: 0;
  }
  
  .logo {
    width: 140px;
    height: 140px;
    position: absolute;
    top: 6px;
    left: 6px;
  }

  .col-4{

    flex-basis: 25%;
    
    padding: 10px;
    
    min-width: 200px; margin-bottom: 50px; }
    
    .col-4 img{ width: 100%;
    
    }

    #welcome.text-box{
        color: rgb(10, 31, 56);
        position: absolute;
        bottom:50%
    }
    #Banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: url(img/admission_open.jpg);
        width:100%;
        height: 70vh;
        background-size: cover;
        background-position: center;



    }
    #Banner h4{
        color: #fff;
        font-size: 16px;
    }
     
    #Banner h2{
        color: #fff;
        font-size: 30px;
        padding: 10px 0;
    }

    #Banner button:hover{
        background-color:#088178;
        color: #fff;
    }

    :root{
        --white-c: #fff;
        --black-c: #000;
        --body-background-c: #FD7AC0;
        --wrapper-background-c: #D4F1F4;
        --wrapper-shadow-c: rgba(0, 0, 0, 0.219);
        --buttons-background-c: rgba(255, 255, 255, 0.219);
        --buttons-active-background-c: rgba(135, 207, 235, 0.493);
      }
  /* Wrapper */
  .wrapper{
    width: 600px;
    height: 300px;
    position: relative;
    background-color: var(--wrapper-background-c);
    box-shadow: 0 0 80px var(--wrapper-shadow-c);
  }
  
  /* Images Area */
  .images-area{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
  }
  .images-area img{
    width: 100%;
    transition: 0.3s cubic-bezier(.79,.03,0,.99);
  }
  
  /* Buttons Area  */
  .buttons-area{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
  .buttons-area > div{
    color: var(--white-c);
    background-color: var(--buttons-background-c);
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  /* Buttons | Previous And Next */
  .buttons-area > div:first-child{
    border-radius: 0 5px 5px 0;
    margin-left: -100px;
  }
  .buttons-area > div:last-child{
    border-radius: 5px 0 0 5px;
    margin-right: -100px;
  }
  /* Show The Buttons */
  .wrapper:hover .buttons-area > div:first-child{
    margin-left: 0;
  }
  .wrapper:hover .buttons-area > div:last-child{
    margin-right: 0;
  }
  .buttons-area div:hover:not(div.disabled){
    background-color: var(--buttons-active-background-c);
  }
  .buttons-area div:not(div.disabled):active{
    opacity: 0.7;
  }
  /* Disabled Button */
  .buttons-area > div.disabled{
    cursor: no-drop;
    opacity: 0.3;
  }
  .buttons-area div i{
    font-size: 70px;
  }
  
  /* Pagination Area */
  .pagination-area{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
  /* Pagination Spans */
  .pagination-area span{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--white-c);
    margin-right: 5px;
    transform: scale(0.5);
    transition: 0.3s ease-in-out;
    opacity: 0.4;
  }
  /* Current Active Span */
  .pagination-area span.active{
    transform: scale(1);
    opacity: 1;
  }
  #automatic{
    
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  footer{
    width: 100%;
    background: linear-gradient(to right,#00093c, #2d0b00);
    color: #fff;
    padding: 50px 0 30px;
    font-size: 13px;
    line-height: 20px;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}
.footer_logo{
    width: 80px;
    position: relative;
    top: -23px;
    left: -20px;
}
.footer_about{
    position: relative;
    top: -23px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.footer_email{
    width: fit-content;
    border-bottom: 1px solid #f66335;
    margin: 20px 0;
}
.col ul li{
    list-style: none;
    margin-bottom: 12px;
}
.col ul li a{
    text-decoration: none;
    color: #fff;
}
.col form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f66335;
    margin-bottom: 50px;
}
.col form .icon{
    font-size: 18px;
    margin-right: 10px;
}
.col form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
.col form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
.col form button .icon_right{
    font-size: 16px;
    color: #ccc;
}
.col .social_icons .social_icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    background: #f66335;
    margin-right: 15px;
    padding: 5px;
    cursor: pointer;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
footer .copyright{
    text-align: center;
}
.bottom_line{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.bottom_line span{
    width: 15px;
    height: 100%;
    background: #f66335;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moveline 2s linear infinite;
}
@keyframes moveline{
    0%{
        left:-20px;
    }
    100%{
        left:100%;
    }
}
  
.container{
    width: 85%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container .content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  .content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
  }
  .content .left-side .details{
    margin: 14px;
    text-align: center;
  }
  .content .left-side .details i{
    font-size: 30px;
    color: #3e2093;
    margin-bottom: 10px;
  }
  .content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
  }
  .content .left-side .details .text-one,
  .content .left-side .details .text-two{
    font-size: 14px;
    color: #afafb6;
  }
  .container .content .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: #3e2093;
  }
  .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  .right-side .input-box input,
  .right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .right-side .message-box{
    min-height: 110px;
  }
  .right-side .input-box textarea{
    padding-top: 6px;
  }
  .right-side .button{
    display: inline-block;
    margin-top: 12px;
  }
  .right-side .button input[type="button"]{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #3e2093;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button input[type="button"]:hover{
    background: #5029bc;
  }
  
  @media (max-width: 950px) {
    .container{
      width: 90%;
      padding: 30px 40px 40px 35px ;
    }
    .container .content .right-side{
     width: 75%;
     margin-left: 55px;
  }
  }
  @media (max-width: 820px) {
    .container{
      margin: 40px 0;
      height: 100%;
    }
    .container .content{
      flex-direction: column-reverse;
    }
   .container .content .left-side{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .container .content .left-side::before{
     display: none;
   }
   .container .content .right-side{
     width: 100%;
     margin-left: 0;
   }
  }
  
  
  